# Ignore database file
db.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore migrations cache
**/migrations/__pycache__/

# Ignore Virtual Environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db
